* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h1 {
  font-size: 54px;
}

button {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.button-light {
  background: #000;
  color: white;
}

.button-dark{
    background: white;
    color: #000;
}
